.DisplayedItem {
  height: auto;
  width: 15rem;
  min-height: 20rem;
  margin-top: 2rem;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  background-color: inherit;
}
.DisplayedItem h3 {
  margin: 0;
}
.textEditor_Icons {
  display: flex;
  gap: 10px;
}
.richTextSelector_Wrapper {
  display: flex;
  position: absolute;
  top: 0%;
  margin-top: 2.5rem;
  row-gap: 2px;
  border: transparent;

  flex-direction: column;
}
.textEditorFont > span {
  border: 1px solid #f1f1f1;
  height: 1.5rem;
  width: 1.5rem;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.texteditor {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}
.textEditorFont {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  margin-top: 2.5rem;
  gap: 3px;
}
.texteditorfontWrapper {
  position: relative;
}
.texteditorcolor {
  position: relative;
}
.displayed_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}
.content {
  text-overflow: ellipsis;
}
