.DisplayedItem {
  height: auto;
  width: 18rem;
  min-height: 20rem;
  margin-top: 2rem;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  background-color: inherit;
  display: flex;
  flex-direction: column;
}
.titlecontent_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding-bottom: 0.2rem;
  font-weight: inherit;
  font-size: inherit;
}
.displayedTitle {
  font-weight: inherit;
  font-size: inherit;
  flex: 1;
  cursor: pointer;
}
/* .displayedInputItem ::placeholder {
  position: absolute;
  top: 0;
} */
.displayedTitle:hover ~ .checkbox1 {
  display: block !important;
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.inputItemDisplay_Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.inactiveIcon {
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.checkbox1 {
  display: none;
}

.titlecontent_wrapper h3,
p {
  overflow-wrap: anywhere;
}

.checkboxsubmit {
  height: 2rem;
  width: 0.8rem;
}
.inputItemDisplayed {
  background-color: inherit;
  outline: none;
  border: none;
  flex: 0.8;
  position: relative;
}
.deleteIcon {
  position: absolute;
  right: 2px;
  top: 5px;
}
.textEditor_Icons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 1rem;
}
.richTextSelector_Wrapper {
  display: flex;
  position: absolute;
  top: 0%;
  margin-top: 2.5rem;
  row-gap: 2px;
  border: transparent;

  flex-direction: column;
}
.textEditorFont > span {
  border: 1px solid #f1f1f1;
  height: 1.5rem;
  width: 1.5rem;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.texteditor {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f1f1f1;
  cursor: pointer;
}
.displayedImageItem {
  height: 20rem;
  cursor: pointer;
}
.textEditorFont {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  margin-top: 2.5rem;
  gap: 3px;
}
.texteditorfontWrapper {
  position: relative;
}
.texteditorcolor {
  position: relative;
}
.displayed_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}
.content {
  border: none;
  outline: none;
  resize: none;
  flex: 1;
  background-color: inherit;
  height: fit-content !important;
}
