.DisplayedItem {
  height: auto;
  width: 15rem;
  border-radius: 8px;
  margin-top: 2rem;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.displayed_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}
.content {
  text-overflow: ellipsis;
}
