.Todo_icon {
  width: 8rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo_container {
  min-height: 100vh;
}
.progressWrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.submitHandler {
  /* width: 100%; */
  font-weight: 600;
  width: 6rem;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  border: transparent;
  cursor: pointer;
  /* border-radius: 6px; */
  /* margin-top: 1.5rem; */
}
.color_wrapper_outer_container {
  position: relative;
}
.messageColorSelected {
  background-color: grey;
  position: absolute;
  top: 120%;
  left: 5%;
  transition: ease-in 3s;
  color: white;
  padding: 3px;
  font-size: 14px;
  border-radius: 4px;
}
.button_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* margin-top: 0.5rem; */
  height: 4rem;
  padding-bottom: 0.2rem;
}
.switchContainer {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modeWrapper {
  display: flex;
  height: 3rem;
  width: 25rem;
  justify-content: space-between;
  padding: 10px;
  margin-right: 1rem;
}
.modeWrapper p {
  text-align: center;
}
.Todo_wrapper {
  height: auto;
  width: 35rem;
  max-width: 100%;
  /* border-radius: 8px; */
  padding: 10px;
  margin: 2rem auto 0 auto;
  position: relative;
}
.cancelbutton {
  position: absolute;
  right: -2%;
  top: -3%;
}
.card_title {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.00625em;
}
.closeButton {
  font-size: 12px;
  cursor: pointer;
}
.input_NameList {
  border: none;
  outline: none;
  min-width: 4rem;
  max-width: 100%;
  background-color: inherit;
  font-size: 14px;
  flex: 1;
}
.input_wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.checkbox {
  accent-color: grey;
  height: 15px;
  width: 15px;
}
/* input::placeholder {
  font-size: 12px;
} */
textarea::placeholder {
  font-size: 12px;
  position: absolute;
  bottom: 20%;
  text-align: left;
  z-index: 1;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.form_content {
  margin-top: 1rem;
}
.form_content label {
  font-size: 13px;
  color: black;
  font-weight: 600;
  margin-top: 0.5rem;
}

.form_content .content {
  position: relative;
  resize: none;
  outline: none;
  border: transparent;
  font-size: 15px;
  font-weight: 600;
  background-color: inherit;
  width: 100%;
}

.content::-webkit-scrollbar {
  display: none;
}
.content_wrapper {
  display: flex;
  flex-direction: column;
}
.border {
  border-bottom: 1px solid grey;
  width: 100%;
}
.boxIcon {
  position: relative;
}
.boxIcon:hover .checboxIcon_content {
  display: block;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  color: white;
  position: absolute;
  font-size: 13px;
  top: 110%;
  /* width: 5rem; */
  width: max-content;
  text-align: center;
}
.colorBox {
  display: flex;
  gap: 2px;
  padding: 0 20px;
  margin-top: 0.5rem;
}
.colorBox .box {
  border: none;
}
.checboxIcon_content {
  display: none;
}

.heading_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.heading_wrapper h3 {
  margin: 0;
}
.inputfile {
  outline: none;
  border: transparent;
  padding: 10px 0;
  color: #24a0ed;
  font-size: 15px;
  font-weight: 600;
  vertical-align: middle;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow 0.5s;
}
.inputfilebutton {
  color: #e8eaed;
}
.backgroundImages_wrapper {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}
.backgroundImages_wrapper img {
  width: 70px;
  height: 70px;
}
#image-uploader {
  opacity: 0;
  cursor: pointer;
}

.inputFileWrapper {
  position: relative;
}
.fileIcon {
  position: absolute;
}
.filebutton {
  /* border-radius: 50%; */
  width: 3rem;
  height: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
/* .inputFileWrapper::after {
  content: "Select File";
  width: 2rem;
  position: absolute;
  color: black;
  left: 0;
} */
/* .input_NameList:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  box-shadow: 0px 15px 10px -15px red;
  color: black !important;
}
.content:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  box-shadow: 0px 15px 10px -15px red;
} */
input[type="file"]::file-selector-button {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: white;
  transition: 1s;
  border: none;
  color: black;
  padding: 10px;
  font-weight: 600;
  border: 1px solid black;
  visibility: hidden;
}
.inputfilebutton ::file-selector-button {
  background-color: #e8eaed;
}
input[type="file"]::file-selector-button:hover {
  background-color: black;
  color: white;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
