.Todo_icon {
  width: 8rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submitHandler {
  background-color: #e50914;
  color: white;
  padding: 10px 20px;
  /* width: 100%; */
  font-weight: 600;
  font-size: 20px;
  border: transparent;
  border-radius: 6px;
  margin-top: 1.5rem;
}
.Todo_wrapper {
  height: auto;
  width: 30rem;
  border-radius: 8px;
  padding: 10px;
  margin: 2rem auto 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}
.cancelbutton {
  position: absolute;
  right: -1%;
  top: -2%;
}
.card_title {
  color: black;
  font-size: 18px;
}

.input_NameList {
  outline: none;
  min-width: 4rem;
  max-width: 100%;
  border: transparent;
  font-size: 14px;
}
.input_wrapper {
  display: flex;
  align-items: center;

  padding-bottom: 5px;
}
.checkbox {
  accent-color: grey;
  height: 15px;
  width: 15px;
}

.form_content {
  margin-top: 1rem;
}
.form_content label {
  font-size: 18px;
  color: black;
  font-weight: 700;
}
.form_content .content {
  padding: 10px;
  padding-left: 0;
  margin-top: 0.5rem;
  outline: none;
  border: transparent;
  font-size: 18px;
  margin-bottom: 0.5rem;
}
.content_wrapper {
  display: flex;
  flex-direction: column;
}
.border {
  border-bottom: 1px solid grey;
  width: 100%;
}
.inputfile {
  outline: none;
  border: transparent;
  padding: 10px 0;
  color: blue;
  font-size: 15px;
  font-weight: 600;
}
input[type="file"]::file-selector-button {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: grey;
  transition: 1s;
  border: none;
  color: white;
  padding: 10px;
}
input[type="file"]::file-selector-button:hover {
  background-color: black;
  color: white;
}
